<div class="modal fade" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content update-modal">
            <%= render "edit_modal", link: "employee" %> 
        </div>
    </div>
</div>